*, *:before, *:after{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  font: 700 20px/1.4 $base-font-family;
}

h1, h2, h3{
  font-family: $base-font-family;
  text-transform: uppercase;
  font-weight: 900;
}

a{
  color: $gray;
  text-decoration: none;
  transition: .2s ease opacity;
}

a:hover{
  opacity: .6;
}

.container{
  clear: both;
  max-width: #{$max-width};
  margin: auto;
  padding: 2rem 1rem;
  overflow: hidden;
}

.button{
  display: inline-block;
  padding: .875rem 1.5rem;
  border: 3px solid $black;
  color: $black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
}

.info{
  font-size: .95rem;
  font-style: italic;
}
