footer[role=contentinfo]{
  font-size: 1rem;

  .container{
    @extend .container;
    overflow: hidden;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.sponsors{
  background: $green;

  h3{
    margin: 0 0 1rem 0;
    font-size: 1.5rem;

    @media screen and (min-width: #{$break-point}){
      float: left;
      width: 25%;
      margin: 0;
    }
  }

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    @media screen and (min-width: #{$break-point}){
      float: left;
      width: 70%;
      margin: 0 0 0 5%;
    }

    li{
      margin-bottom: .65rem;

      a{
        color: $black;
        border-bottom: 3px solid lighten($yellow, 12%);
        box-shadow: inset 0 -5px 0 lighten($yellow, 12%);
      }
    }
  }
}

.library{
  clear: both;
  text-align: center;

  svg{
    width: 5rem;
    fill: $peach;
  }
}
