main[role=main]{
  @extend .container;
  padding-bottom: 0;

  section{
    padding: 2rem 1rem;

    &:first-of-type{
      padding-top: 0;

      @media screen and (min-width: #{$break-point}){
        padding-top: 4rem;
      }
    }

    @media screen and (min-width: #{$break-point}){
      display: table;
      padding: 4rem 10rem 4rem 4rem;
    }
  }

  section h1{
    margin-top: 0;
    font-size: 3rem;
    line-height: 1.1;

    @media screen and (min-width: #{$break-point}){
      display: table-cell;
      width: 30%;
      margin: 0;
      margin-right: 4rem;
    }

    span{
      display: inline-block;
      width: auto;
      margin-bottom: 1rem;

      &:nth-of-type(1n){
        border-bottom: 4px solid $yellow;
      }

      &:nth-of-type(2n){
        border-bottom: 4px solid $peach;
      }

      &:nth-of-type(3n){
        border-bottom: 5px solid $gray;
      }

      &:nth-of-type(4n){
        border-bottom: 6px solid $green;
      }
    }
  }

  section h2{

    @media screen and (min-width: #{$break-point}){
      position: relative;
      top: .5rem;
      display: table-cell;
      width: 20%;
      margin: 0;
    }

  }

  section .label{

    @media screen and (min-width: #{$break-point}){
      display: table-cell;
      width: 60%;
    }

    p{
      margin-top: 0;
    }
  }

}

.intro .large{
  font-size: 1.5rem;
}

.intro{
  background: url('../img/intro.png') no-repeat center center;

  @media screen and (min-width: #{$break-point}){
    background-position: center left;
    padding-right: 4rem !important;
  }
}

.signup{
  background: url('../img/signup.png') no-repeat center center;

  @media screen and (min-width: #{$break-point}){
    background-position: top right;
  }
}

.levelup{
  background: url('../img/levelup.png') no-repeat center center;

  @media screen and (min-width: #{$break-point}){
    background-position: top right;
  }

}

.prizes{
  background: url('../img/prizes.png') no-repeat top left;

  @media screen and (min-width: #{$break-point}){
    background-position: top center;
  }

}
